<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>My First Project Django</title>
</head>

<body>
    
    <style>

        body{
            background-color: black;
            }
        #title {
            font-size: 80px;
            color: white;
        }

        #sub_title {
            font-size: 18px;
            color: white;
        }

        #text_sobre {
            font-size: 12px;
            color: white;
        }

    </style>

<center>
           <h1 id = "title">Site Em Contrução :)</h1>

<pre id = "sub_title"><h2><strong>Sobre o Desenvolvedor</strong></h2></pre>

<pre id="text_sobre">
Olá me chamo Michael de Mattos, sou casado e pai do pequeno Júlio César.
Possuo na minha grade acadêmica formação como Técnico em Informática 
licenciado pela instituição de ensino SENAC – SP e estudante de Analise e 
Desenvolvimento de Sistemas pela instituição de  Ensino UNIP – Universidade Paulista.

Sou programador Python com 3 anos de experiência e foco na utilização de Framework 
Django para Desenvolvimento Web, Kivy para desenvolvimento de aplicações para
Mobile e Desktop. Também possuo conhecimento em utilização de banco de dados 
relacionais MySQL e Sqlite3.

Neste meio tempo já trabalhei com desenvolvimento de aplicações Desktop utilizando a 
linguagem de programação C# e Banco de dados SQL SERVER.

Busco sempre a utilização dos meus conhecimentos para aperfeiçoar e otimizar processos
diários em que sua empresa ou mesmo você possa estar necessitando.

Foco e Dedicação é o lema em que o projeto Space Desenvolvimento nasceu, estamos sempre 
dedicados a melhor atender clientes e amigos.

Se você é uma Software House ou empresa de Consultoria fiquei por dentro dos projetos 
que estão disponíveis em meu GitHub acessando o link
<a href="https://github.com/MichaelDeMattos?tab=repositories">Clique Aqui</a>

Atenciosamente,
Michael de Mattos</pre>
</center>
</body>
</html>