{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>My First Project Django</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body>
       
        <center>
             <h1><strong>Meu Blog Django</strong></h1>
        </center>


        {% for post in posts %}
        <div>
            <p>Publicado em: {{ post.create_date }}</p>
            <h2><a href=""> {{ post.title }}</a> </h2>
            <p> {{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

</body>
</html>
